body {
    font-family: 'Georgia', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.header h1 {
    font-size: 30px;
    margin: 0;
}

.navigation {
    text-align: center;
    margin-top: 20px;
}

.navigation ul {
    margin-top: 30px;
}

.navigation ul li {
    display: inline;
    margin-right: 30px;
}

.navigation a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    background-color: #444;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navigation a:hover {
    background-color: #555;
}

.navigation a.active {
    background-color: #666;
    font-weight: bold;
    border-bottom: 2px solid #fff;
}

.sections-nav {
    text-align: left;
    position: absolute;
    float: left;
    width: 10%;
    color: black;
    background-color: #f1f1f1;
    margin-top: -2.5rem;
}

.sections-nav a {
    text-decoration: none;
    color: black;
}

main {
    align-items: center;
    float: left;
    width: 90%;
    padding: 40px;
}

.group {
    column-count: 2;
    margin-bottom: 100px;
}


main img {
    transition:transform 0.25s ease;
    cursor: zoom-in;
    width: 80%;
    margin: 10px;
    display: inline-block;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

main img:hover {
    transform:scale(1.05);
}

aside {
    float: left;
    width: 20%;
    padding: 20px;
    background-color: #f1f1f1;
    overflow: auto;
}

code {
    background-color: #f1f1f1;
    padding: 5px;
    display: block;
}

blockquote {
    font-style: italic;
}

sub {
    font-size: 75%;
}

sup {
    font-size: 75%;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

aside {
    min-width:300px;
}

aside p {
    text-transform: uppercase;
    text-decoration: line-through;
}

#contacts, #trainings {
    margin-bottom: 3rem;
}

button {
    cursor: pointer;
}

.photos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.photos article img {
    width: 550px;
    height: auto;
}

.photos article p {
    text-align: right;
    margin-right: 1rem;
    margin-top: -4px;
    font-style: italic;
}

.training-table {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 колонки */
    gap: 10px;
    margin-top: 30px;
}

.training-table .row:nth-child(odd) {
    background-color: #e0e0e0;
}

.training-table .row:nth-child(even) {
    background-color: #cccccc;
}

.header {
    font-weight: bold;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.row {
    padding: 10px;
    background-color: #f0f0f0;
    text-align: center;
}

.header-row {
    display: contents;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
}

input, select, button {
    margin-bottom: 10px;
    padding: 8px;
}

button {
    cursor: pointer;
}

#trainings {
    max-width: 600px;
    margin: auto;
}

.add-training {
    text-align: center;
    margin-bottom: 20px;
}

#clear-trainings {
    margin-top: 30px;
}
